{% extends 'base.html' %}
{% load static %}

  {% block title %}
  <title>Blog - EDSystems</title>
  {% endblock title %}



  {% block content %}
    
  <div class="blog-content">
    <div>
    <h1><a href="">EarthData Systems - Blog</a></h1>
    </div>
    
    <div>

      {% for post in posts %}
        <div>
          <p>Published: {{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text | linebreaksbr }}</p>
        </div>
    
      {% endfor %}
    
    </div>
    

    </div>
  {% endblock content  %}
