{% extends 'base.html' %}
{% load static %}

  {% block title %}
  <title>Blog</title>
  {% endblock title %}



  {% block images %}
    <div class="photo">
      <div class="business-photo"><img src="{% static 'home/img/business.jpg' %}" width="1050"/></div>
      <div class="mkrain-photo">
        <div class="analysis"><img src="{% static 'home/img/p-analysis.png' %}" width="350"/></div>
        <div class="dep-graph"><img src="{% static 'home/img/dep-graph.png' %}" width="350"/></div>
        <div class="prd-graph"><img src="{% static 'home/img/prd-graph.png' %}" width="350"/></div>
      </div>
    </div>
  {% endblock images %}
  

  {% block content %}
    <div class="content">
    <h4>Welcome to Blog (EarthData Systems) </h4>
    <p>Blogs are written by M K Purohit</p>
          
    </div>
  {% endblock content  %}
