* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: #04293B;
}

a:link, a:visited {
  color: #04293B;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: #D6E9FE;
  border-bottom: 1px solid #04293B;
}

.menu {
  margin-top: 30px;
}

.menu > li{
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 20;
}


.dropdown {
  position: relative;
}

.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  background: #B2D6FF;
  border-radius: 5px;
  padding-top: 60px;

  position: absolute;
  top: -25px;
  left: -30px;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 0 20px 10px 20px;
  margin: 10px;
}

.features-menu li:last-of-type {
  border-bottom: none;
}

.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.features-menu {
  z-index: 1;
}

.features-menu {
  display: none;
}

.photo {
  display: flex;
  padding-top: 100px;
 }
 
 .business-photo {
 
 }
 
 .mkrain-photo {
   display: flex;
   flex-direction: column;
 }
 
 .analysis {
   padding-top: 15px;
 }
 
 .dep-graph {
   border-top: 1px solid #04293B;
   border-bottom: 1px solid #04293B;
   padding: 15px;
 }
 
 .prd-graph {
   padding: 15px;
 }
 
 .home-content {
  color: #484031; 
  width: 1440;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 15px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

 .blog-content {
   color: #484031;
   width: 1440;
   padding-top: 150px;
   padding-bottom: 50px;
   padding-left: 15px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .footer {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   width: 1440px;
   background-color:  rgb(3, 18, 32);  /* #04293B; */
   color:  white;
   text-align: center;
 }
 
 .address {
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 50px;
 }
 
 .blog-content h1>a, .blog-content h2>a {
   color: #C25100;
   font-family: 'Lobster';
 }

 .blog-content .page-header {
  background-color: #C25100;
  margin-top: 0;
  padding: 20px 20px 20px 40px;

 }

 
 .blog-content .page-header h1, 
 .blog-content .page-header h1> a, 
 .blog-content .page-header h1>a:visited, 
 .blog-content .page-header h1>a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}


.blog-content .content {
  margin-left: 40px;
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4 {
  font-family: 'Lobster', cursive;
}

.blog-content .date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.blog-content .post {
  margin-bottom: 40px;
}

.blog-content .post h2>a, .blog-content .post h2>a:visited {
  color: #000000;
}